body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat;
    background-size: 100%;

}
p{
    margin-top: 50px;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #022177;
}

